.editor-wrapper .ql-container {
  @apply rounded-b-lg;
}

.editor-wrapper .ql-toolbar.ql-snow {
  @apply rounded-t-lg;
}

.editor-wrapper {
  min-height: 190px;
}

.editor-wrapper .ql-editor {
  @apply text-base;
  min-height: 125px;
  padding: 16px;
}

.editor-wrapper .ql-size {
  max-width: 76px;
}
