.editor-wrapper .ql-container {
  @apply rounded-b-lg;
}

.editor-wrapper .ql-toolbar.ql-snow {
  @apply rounded-t-lg;
}

.editor-wrapper {
  min-height: 190px;
}

.editor-wrapper .ql-editor {
  @apply text-base;
  @apply font-serif;
  @apply py-4;
  @apply focus:outline-none;
  @apply focus:ring-1;
  @apply rounded-b-md;
  min-height: 125px;
}

.editor-wrapper .ql-size {
  max-width: 76px;
}
