@tailwind base;
@tailwind components;
@tailwind utilities;
@import './pattern.css';
@import './editor.css';

:root {
  --light-red: #c41525;
  --dark-red: #8b1f27;
  --gradient: linear-gradient(80deg, var(--light-red) 15%, var(--dark-red) 50%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply text-blue-300;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.prose-dark-mode strong,
.prose-dark-mode p,
.prose-dark-mode h1 {
  @apply text-white;
}

@keyframes alert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animation-alert {
  animation: alert 2.5s ease-out forwards;
  animation-delay: 2.5s;
}

.clip-vertical {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem));
}

.clip-horizontal {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem));
}

.hyphens {
  hyphens: auto;
}

@media (min-width: 768px) {
  .clip-horizontal {
    clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 100%, 0 100%);
  }
}
